body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    margin: 0;
    background-color: #424242;
    /* you can delete the line below if you'd prefer to not use an image */
    background-size: 100%;
    color: #000000;
    background-image: var(--body-bg-image);
}

p {
    color: black
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}

#header {

    height: 40px;
    width: 100%;
    background-color: #beffdb;
}

footer {
    margin-top: 100px;
}

#footer-container {
    max-width: 400px;
    background-color: lavender;
    margin: 0 auto; 
}

iframe {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    aspect-ratio: 16 / 9;
}

#container {
    max-width: 900px;
    background-color: lavender;
    margin: 0 auto;
}

#navbar ul {
    flex-wrap: wrap;
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    justify-content: space-evenly;
}

#navbar li {
    padding-top: 10px;
}

#navbar li a {
    color: #004eaa;
    font-weight: 800;
    text-decoration: none;
}

#navbar li a:hover {
    color: #873F7A;
    text-decoration: underline;
}